<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_commerce">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".update_quantity"></activity>
        <activity android:name=".Shoppingcart_Activity" />
        <activity android:name=".Scanbarcode_Activity" />
        <activity android:name=".Scanbybarcode_Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".scanbarcode_Activity" />
        <activity android:name=".Sacnbarcode_Activity" />
        <activity android:name=".product_detailsActivity" />
        <activity
            android:name=".Home_Activity"
            android:theme="@style/AppTheme.actionbar" />
        <activity android:name=".resetpassactivity" />
        <activity android:name=".forgetpassactivity" />
        <activity android:name=".signinactivity" />
        <activity android:name=".signupactivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>